<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
	
<configuration>
	<typeAliases>
		<typeAlias type="com.hanker.DTO.MemberVO" alias="memberVO" />
		<typeAlias type="com.hanker.DTO.TmpTokenVO" alias="tmpTokenVO" />
		<typeAlias type="com.hanker.DTO.NoticeBoardVO" alias="noticeBoardVO" />
		<typeAlias type="com.hanker.DTO.RepleVO" alias="repleVO" />
		<typeAlias type="com.hanker.DTO.FrBoardVO" alias="frBoardVO" />
		<typeAlias type="com.hanker.DTO.HkVisitVO" alias="hkVisitVO" />
		<typeAlias type="com.hanker.DTO.RepleFrVO" alias="repleFrVO" />
		<typeAlias type="com.hanker.DTO.InqueryVO" alias="inqVO" />
	</typeAliases>
</configuration>