@charset "UTF-8";

#adminMenu {
	margin-left: 91%;
	margin-top: -9%;
}

#adminBtn {
	border-color: white;
	background-color: #111111;
	color: white;
	font-size: 13px;
	height: 30px;
}

#mainLogo {
	position: absolute;
	top: 4%;
	color: white;
}

#menu {
	margin-top: 12%;
}

#menu li {
	height: 40px;
}

.liActive {
	border: 2px solid white;
	border-radius: 10px;
}

li>a {
	/* position: relative; */
	top: 7px;
}

/* notice */
.notice-title {
	margin-left: 20%;
	width: 60%;
	border-bottom: 1px solid black;
}

.notice-content {
	margin-left: 20%;
	margin-top: 10px;
	width: 60%;
}

.notice-reple {
	margin-left: 20%;
	margin-top: 10px;
	width: 60%;
	border: 1px solid gray;
	border-radius: 5px;
}

#notice-write {
	float: right;
	margin-top: -35px;
}

#noWrite {
	background: #36c6c8;
	border: none;
	border-radius: 5px;
	height: 30px;
	width: 90px;
	color: white;
}

.tr-title {
	background-color: #f5f6fa;
	color: black;
}

.nb-content {
	display: block;
	width: 100%;
	padding: 7px .75rem;
	/* font-size: .75rem; */
	font-weight: 400;
	line-height: 1.5;
	color: #2d353c;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #d5dbe0;
	border-radius: 4px;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.nb-viewcnt {
	width: 29%;
	float: right;
	margin-top: -60px;
}

.nb-writer {
	width: 70%;
}

#reView {
	border: 1px solid gray;
	border-radius: 5px;
}

.commitCon {
	border-radius: 5px;
	border: 1px solid gray;
	margin-top: 30px;
	margin-left: 10px;
	height: auto;
	background-color: white;
	color: black;
	width: 98%;
}

.fntSize {
	font-size: 13px;
	margin-left: 10px;
}

.confContainer {
	border: 1px solid gray;
	border-radius: 5px;
	overflow: auto;
	height: 500px;
}

.confContainer::-webkit-scrollbar {
	width: 10px;
}

.confContainer::-webkit-scrollbar-thumb {
	background-color: #2f3542;
	border-radius: 10px;
}

.confContainer::-webkit-scrollbar-track {
	background-color: grey;
	border-radius: 10px;
	box-shadow: inset 0px 0px 5px white;
}

#commitSch {
	margin-left: 93%;
	margin-top: -50px;
}

#totalCntWr, #todayCntWr {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

#totalCnt, #todayCnt {
	text-align: center;
	font-size: 25px;
	color: orange;
	font-weight: bold;
}

/* Drag & Drop */
.dragAndDropDiv {
	border: 2px dashed #92AAB0;
	width: 650px;
	height: 200px;
	color: #92AAB0;
	text-align: center;
	vertical-align: middle;
	padding: 10px 0px 10px 10px;
	font-size: 200%;
	display: table-cell;
}

.progressBar {
	width: 200px;
	height: 22px;
	border: 1px solid #ddd;
	border-radius: 5px;
	overflow: hidden;
	display: inline-block;
	margin: 0px 10px 5px 5px;
	vertical-align: top;
}

.progressBar div {
	height: 100%;
	color: #fff;
	text-align: right;
	line-height: 22px;
	/* same as #progressBar height if we want text middle aligned */
	width: 0;
	background-color: #0ba1b5;
	border-radius: 3px;
}

.statusbar {
	border-top: 1px solid #A9CCD1;
	min-height: 25px;
	width: 99%;
	padding: 10px 10px 0px 10px;
	vertical-align: top;
}

.statusbar:nth-child(odd) {
	background: #EBEFF0;
}

.filename {
	display: inline-block;
	vertical-align: top;
	width: 250px;
}

.filesize {
	display: inline-block;
	vertical-align: top;
	color: #30693D;
	width: 100px;
	margin-left: 10px;
	margin-right: 5px;
}

.abort {
	background-color: #A8352F;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	display: inline-block;
	color: #fff;
	font-family: arial;
	font-size: 13px;
	font-weight: normal;
	padding: 4px 15px;
	cursor: pointer;
	vertical-align: top
}

#DragForm>a {
	padding-top: 60px;
}

#DragForm>a span {
	position: relative;
	top: -35px;
	left: 50%;
}


#dfOpen>span::after {
	position: absolute;
	top: 50%;
	left: 50%;
	content: '';
	width: 16px;
	height: 16px;
	margin: -12px 0 0 -8px;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	box-sizing: border-box;
}

#dfClose>span::after{
	position: absolute;
	top: 50%;
	left: 50%;
	content: '';
	width: 16px;
	height: 16px;
	margin: -12px 0 0 -8px;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
	box-sizing: border-box;
}

#boardFileList {
	border: 1px solid #d5dbe0;
	border-radius: 4px;
	display: block;
	
}

#fileIcon{
	margin-left: 1%;
}

#fileName{
	margin-left: 1%;
}

#fileSize{
	float: right;
    margin-right: 2%;
}

/* slide2 */
body {
    background:
radial-gradient(black 15%, transparent 16%) 0 0,
radial-gradient(black 15%, transparent 16%) 8px 8px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
background-color:#282828;
background-size:16px 16px;
}


.neon_effect p {
  text-align: center;
  font-size: 2vw;
  margin: 50px;
  transition: all 0.4s;
}
.neon_effect p:nth-child(1){
  color: #fff;
  font-family: Monoton;
  animation: neon1 1.5s ease-in-out infinite alternate;
}
.neon_effect p:nth-child(2){
  color: #fff;
  font-family: Lobster;
  animation: neon2 1.5s ease-in-out infinite alternate;
}


@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}
@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

