@charset "UTF-8";

#adminMenu {
	position: absolute;
    top: 4px;
    right: 3px;
}

#adminBtn{
	border-color: white;
    background-color: #111111;
    color: white;
    font-size: 13px;
    height: 30px;
}

#menu{
	border-bottom: 3px solid white;
}

#menu li {
	height: 40px;
}

.liActive{
    border: 2px solid white;
    border-radius: 10px;
}

li > a {
    position: relative;
    top: 7px;
}

/* notice */

.notice-title{
	margin-left: 20%;
	width:60%;
	border-bottom: 1px solid black;
}

.notice-content{
	margin-left: 20%;
	margin-top: 10px;
	width: 60%;
}

#notice-write{
	float:right;
	margin-top: -35px;
}

#noWrite {
	background: #36c6c8;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 90px;
    color: white;
}

.tr-title{
	background-color: #f5f6fa;
	color : black;
}

.nb-content{
	display: block;
    width: 100%;
    padding: 7px .75rem;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #2d353c;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d5dbe0;
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.nb-viewcnt{
	width: 29%;
    float: right;
    margin-top: -60px;
}

.nb-writer{
	width: 70%;
}