@charset "UTF-8";

#adminMenu {
	position: absolute;
    top: 4px;
    right: 3px;
}

#adminBtn{
	border-color: white;
    background-color: #111111;
    color: white;
    font-size: 13px;
    height: 30px;
}