<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hkGroupMainMapper">
	
	<select id="listAll" resultType="noticeBoardVO">
		<![CDATA[
			SELECT
				nbno,
				nbtitle,
				nbwriter,
				nbcontent,
				nbviewcnt,
				regdate
			FROM
				notice_board
		]]>
	</select>
	
	<select id="getWriter" resultType="String">
		<![CDATA[
			SELECT
				uname
			FROM
				users
			WHERE
				username = #{username}
		]]>
	</select>
	
	<insert id="noticeBoardWrite" parameterType="noticeBoardVO">
		INSERT INTO
			notice_board(
				nbtitle,
				nbwriter,
				nbcontent
			)
			VALUES(
				#{nbtitle},
				#{nbwriter},
				#{nbcontent}
			)
	</insert>
	
	<select id="noticeBoardView" resultType="noticeBoardVO">
		<![CDATA[
			SELECT
				*
			FROM
				notice_board
			WHERE
				nbno = #{nbno}
		]]>
	</select>
</mapper>