<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hkGroupMainMapper">
	
	<select id="listAll" resultType="noticeBoardVO">
		<![CDATA[
			SELECT
				nbno,
				nbtitle,
				nbwriter,
				nbcontent,
				nbviewcnt,
				regdate
			FROM
				notice_board
		]]>
	</select>
	
	<select id="getWriter" resultType="String">
		<![CDATA[
			SELECT
				uname
			FROM
				users
			WHERE
				username = #{username}
		]]>
	</select>
	
	<select id="getUserNum" resultType="Integer">
		<![CDATA[
			SELECT
				uno
			FROM
				users
			WHERE
				username = #{username}
		]]>
	</select>
	
	<insert id="noticeBoardWrite" parameterType="noticeBoardVO">
		INSERT INTO
			notice_board(
				nbtitle,
				nbwriter,
				nbcontent
			)
			VALUES(
				#{nbtitle},
				#{nbwriter},
				#{nbcontent}
			)
	</insert>
	
	<select id="noticeBoardView" resultType="noticeBoardVO">
		<![CDATA[
			SELECT
				*
			FROM
				notice_board
			WHERE
				nbno = #{nbno}
		]]>
	</select>
	
	<insert id="insReple" parameterType="repleVO">
		INSERT INTO
			re_notice_board(
				nbno,
				uno,
				rewriter,
				recontent
			)
			VALUES(
				#{nbno},
				#{uno},
				#{rewriter},
				#{recontent}
			)
	</insert>
	
	<select id="viewReple" resultType="repleVO">
		<![CDATA[
			SELECT
				*
			FROM
				re_notice_board
			WHERE
				nbno = #{nbno}
		]]>
	</select>
	
	<update id="boardViewCnt" parameterType="Integer">
		UPDATE
			notice_board
		SET
			nbviewcnt = nbviewcnt + 1
		WHERE
			nbno = #{nbno}
	</update>
	
	<update id="nbUpdate" parameterType="noticeBoardVO">
		UPDATE
			notice_board
		SET
			nbtitle = #{nbtitle},
			nbcontent = #{nbcontent}
		WHERE
			nbno = #{nbno}
	</update>
</mapper>