<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="homeMapper">

	<select id="memNewList" resultType="memberVO">
		<![CDATA[
			SELECT 
				username, uname
			FROM
				users
			WHERE
				enabled = 0
		]]>
	</select>
	
	<select id="userAuth" resultType="String">
		<![CDATA[
			SELECT
				authority
			FROM
				authorities
			WHERE
				username = #{name}
		]]>	
	</select>
	
	<insert id="visitorIns" parameterType="hkVisitVO">
		INSERT INTO
			hk_visit(
				visit_id,
				visit_ip
			) VALUES(
				#{visit_id},
				#{visit_ip}
			)
	</insert>
	
	<select id="totalVisitCount" resultType="Integer">
		<![CDATA[
			SELECT
				COUNT(*)
			FROM
				hk_visit
		]]>
	</select>
	
	<select id="monthVisitCount" resultType="Integer">
		<![CDATA[
			SELECT
				COUNT(*)
			FROM
				hk_visit
			WHERE
				visit_time >= date_add(now(), interval -1 month)
		]]>
	</select>
	
	<select id="todayVisitCount" resultType="Integer">
		<![CDATA[
			SELECT
				COUNT(*)
			FROM
				hk_visit
			WHERE
				date_format(visit_time, "%Y-%m-%d") = CURDATE()
		]]>
	</select>
</mapper>