<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="loginMapper">

	<insert id="memRegister" parameterType="memberVO">
			INSERT INTO 
				users(
					username,
					password,
					enabled,
					uname,
					phnumber,
					email
				)
			VALUES(
					#{username},
					#{password},
					#{enabled},
					#{uname},
					#{phnumber},
					#{email}	
			)
	</insert>
	
	<insert id="memGradeInsert" parameterType="memberVO">
			INSERT INTO
				authorities(
					username,
					authority
				)
			VALUES(
				#{username},
				"Non-members"
			)
	</insert>
	
	<!-- ID 중복확인 -->
	<select id="dupliChck" parameterType="String" resultType="boolean">
		<![CDATA[
			SELECT 
				IF(COUNT(*) = 1, 1, 0)
			FROM
				users
			WHERE
				username = #{username}
		]]>
	</select>
	
	<!-- 발급 Token 저장 -->
	<insert id="tmpTokenIns" parameterType="tmpTokenVO">
		INSERT INTO
			tmp_token_tb(
				email,
				token
			)
		VALUES(
			#{email},
			#{token}
		)
	</insert>
	<update id="tmpTokenUpd" parameterType="tmpTokenVO">
		UPDATE
			tmp_token_tb
		SET 
			token = #{token},
			emailcert = '0'
		WHERE
			email = #{email} 
	</update>
	
	<!-- 이미 한번이상 발급받은 이메일인지 check -->
	<select id="indiEmailChck" resultType="boolean">
		<![CDATA[
			SELECT
				IF(COUNT(*) = 1, 1, 0)
			FROM
				tmp_token_tb
			WHERE
				email = #{email}
		]]>
	</select>
	
	<!-- Token 비교를 위해 table에 있는 token SELECT -->
	<select id="tbToken" resultType="Integer">
		<![CDATA[
			SELECT
				token
			FROM 
				tmp_token_tb
			WHERE
				email = #{email}
		]]>
	</select>
	
	<!-- email 인증여부 확인 -->
	<select id="emailCertChck" resultType="String">
		<![CDATA[
			SELECT
				emailcert
			FROM
				tmp_token_tb
			WHERE
				email = #{email}
		]]>
	</select>
	
	<!-- 이메일 인증 완료 -->
	<update id="emCertChange" parameterType="tmpTokenVO">
		UPDATE
			tmp_token_tb
		SET
			emailcert = '1'
		WHERE
			email = #{email}
	</update>
	
	<!-- 이메일 중복확인 -->
	<select id="joinEmailChck" resultType="boolean">
		<![CDATA[
			SELECT
				IF(COUNT(*) = 1,1,0)
			FROM
				users
			WHERE
				email = #{email}
		]]>
	</select>
	
	<!-- Email로 ID찾기 -->
	<select id="idSearch" resultType="hashMap">
		<![CDATA[
			SELECT
				username
			FROM
				users
			WHERE 
				email = #{email}
		]]>
	</select>
</mapper>