<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberMapper">

	<select id="memList" resultType="memberVO">
		<![CDATA[
			SELECT
				users.username,
				enabled,
				uname,
				email,
				regdate,
				auth.authority
			FROM
				users
			INNER JOIN 
				authorities auth 
			ON 
				users.username = auth.username	 
		]]>
	</select>
	
	<update id="memCheck" parameterType="String">
		<![CDATA[
			UPDATE
				users
			SET
				enabled = 1
			WHERE
				username = #{userId}
		]]>
	</update>
	<update id="memGradeChg" parameterType="String">
		<![CDATA[
			UPDATE
				authorities
			SET
				authority = 'ROLE_USER'
			WHERE
				username = #{userId}
		]]>
	</update>
	
	<update id="memExpire" parameterType="memberVO">
		<![CDATA[
			UPDATE
				authorities
			SET
				authority = 'non-member'
			WHERE
				username = #{username}
		]]>
	</update>
	<update id="memExpireUser" parameterType="memberVO">
		<![CDATA[
			UPDATE
				users
			SET
				enabled = 0
			WHERE
				username = #{username}
		]]>
	</update>
	
	
</mapper>